@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
  font-weight: 400;
  font-style: normal;
}

/* h3 {
  font-weight: 100;
} */

* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Pretendard-Regular";
}

.app  {
  background-color: #010226;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  /* align-items: center;
  flex-shrink: 0; */
}


.main {
  display: flex;
  flex-direction: column;
  /* height: 100vh; */
  /* 메인클래스의 패딩값 영향으로 타 페이지 이상하게 보임 */
  /* padding: 20px 200px; */
  width: 100vw;
  /* 메인화면 확인 필수 */
  max-width: 1400px;
  /* border: 2px solid yellow; */
  /* background-color: cyan; */
  align-self: center;
}

.movie__item {
  display: flex;
  flex-direction: column;
  /* border: 2px solid blue; */
  /* flex: 1 0 20%; */
  /* padding: 15px; */
  gap: 10px;
  border-radius: 30px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
  /* width: calc(20% - 10px); */
  width: 100%;
  position: relative;
  cursor: pointer;
  /* border: 2px solid yellow; */
  transition: transform 0.2s ease-out;
}
.movie__item:hover {
  transform: scale(1.05); /* 호버 시 약간 크기 확대 */
}

.movie__item:hover .movie__item__info {
  display: flex;
  font-size: 14px;
  gap: 2px;
  /* font-weight: 600; */
  background-color: darkgray;
background-color: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(5px);
  bottom: 0;
  flex-direction: column;
  /* height: 0; */
  justify-content: flex-start;
  left: 0;
  margin: 0;
  padding: 6px 6px 10px 6px;
  position: absolute;
  transition: height 0.4s ease-in;
  width: 100%;
  /* opacity: 1; */
    display: flex;
  opacity: 1; /* 호버될 때 투명도를 1로 설정하여 나타나게 함 */
  transform: translateY(0);
}

.movie__item__image {
  padding: 5px;
  border-radius: 25px;
  /* height:  */
}

.movie__item__title{
  padding-left: 5px;
}

.movie__item__info {
  display: none;
   transition: transform 0.3s ease-out, opacity 0.3s ease-out;
  transform: translateY(100%);
  opacity: 0;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

.movie__item__info > div {
  padding: 0px 5px 0px;
}

.movieList {
  margin-top: 10px;
  margin-bottom: 50px;
  /* padding: 20px; */
}


.movieList_content {
  /* display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: space-between; */
  /* border: 2px solid yellow; */
  /* margin: px; */

  /* 그리드 */
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: auto auto;
  gap: 20px;
}

.movieList__content_slider {
  display: flex;
  align-items: center;
  justify-content:center;
  overflow:  hidden;
  width: 100%;
}

.movieList__content__slider__related {
  display: flex;
  align-items: center;
  justify-content:center;
  overflow: hidden;
  width: 1300px;
}

.movieList__slider {
  display: flex;
  width: 100%;
  flex-direction: row;
  transition: transform 0.5s ease-in-out; /* 슬라이딩 효과를 위한 트랜지션 설정 */
  gap: 7px;
  margin-right: 2px;
}

.slider__container {
  display:flex;
  flex-direction:row;
  align-items: center;
}

.slider__btn {
  background-color: #010226;
  color: white;
  border: none;
  border-radius: 40px; 
  width: 50px;
  height: 40px;
  font-size: 30px;
  letter-spacing: 2px;
  cursor: pointer;
  opacity: 0.3;
}
.slider__btn:hover {
  opacity: 1;
}

.listTitle {
  padding: 40px 0px 40px 0px;
  font-size: 36px;
  font-weight: 600;
}

.genreTitle {
  padding: 10px 0px 30px 50px;
  font-size: 22px;
  font-weight: normal;
}

.header {
  display: flex;
  /* flex-direction: row; */
  justify-content: space-between;
  align-items: center;
  height: 90px;
  padding: 0 80px;
  /* background-color: pink; */
  z-index: 1;
}

.header__logo {
  width: 220px;
  margin-top: 25px;
}

.header__category {
  display: flex;
  align-items: center;
  gap: 20px;
margin-right: 30px;
}

.header__search__form {
 position: relative;
}
.header__search__input {
  height: 50px;
  width: 400px;
  margin-right: 10px;
  background-color: rgba(255,255,255,0.3);
  border: none;
  border-radius: 10px; 
  color: white;
  padding: 10px;
  font-size: 15px;
}
.header__search__input:focus {
  outline:none;
}
/* 왜? */
.header_search_btn  {
  all: unset;
  display:flex;
  position: absolute;
  left: 90%;
  top: 33%;
  right: 10%;
  align-items:center;
  justify-content:center;
}

.headerRight {
  margin: 0 20px;
}
.icon {
  
}
/* 링크 css 초기화 */
a {
  text-decoration:none;
}
a:link {
  color:white;
}
a:visited {
  color:white;
}
a:active {
  color:white;
}
/* 로그인, 회원가입 페이지에서 푸터가 안보이는 현상 발생
고치려고 했으나 잘 안됨... */
.footer { 
  width: 100%;
  height: 140px;
  background-color: black;
  color: #737373;
  padding-left: 5%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-size: 14px;
  line-height: 20px;
}

.team {
  font-weight: 900;
}

.rights {
  margin-top: 10px;
}

.movie__item__plot {
}

.movie__item__genre {
  display: flex;
  flex-direciton: row;
  gap: 4px;
}

.MovieDetail {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.commentItem {
  display:flex;
  flex-direction: column;
  background-color: #242547;
  border-radius: 10px;
  padding: 20px;
  gap: 8px;
  width: 47%;
}

.commentItem__nick_score {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 5px;
  margin-right: 5px;
  font-size: 15px;
}

.commentItem__nick_score .nickname {
  font-size: 17px;
  font-weight: 600;
}

.commentItem__content {
  display: flex;
  height: 90px;
  margin-left: 5px;
  margin-right: 5px;
  font-size: 15px;
}

.commentItem__date {
  display: flex;
  justify-content: end;
  margin-left: 5px;
  margin-right: 5px;
  color: #c2c2c2;
  font-size: 13px;
  font-weight: 100;
}

.commentItem > hr {
  width: 100%;
  align-self: center;
  color: #c2c2c2;
}

.commentItem__List {
  display: flex;
  gap: 20px;
  justify-content: space-between;
  /* border: 1px solid white; */
  padding: 30px 10px;
  width: 100%;
}

.commentItem__List__none {
  display: flex;
  padding: 30px 30px;
  width: 100%;
}

.comment {
  /* display: flex;
  flex-direction: column;
  justify-content: center; */
  align-items: center;
  width: 90%;
  /* border: 1px solid white; */
  padding: 30px 0 80px 0;
  z-index: 10;
}

.comment__content {
    display: flex;
  flex-direction: column;
  justify-content: center;

}

.comment > h3 {
  margin-bottom: 20px; 
  text-align: left;
}

.commentForm {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  padding-left: 10px;
  padding-right: 10px;
  align-items: flex-end;
  padding-bottom: 30px;
  border-bottom: 1px solid white;
}

.commentForm__input {
  height: 100px;
  width: 100%;
  margin-right: 40px;
  background-color: rgba(255,255,255,0.3);
  border: none;
  border-radius: 10px; 
  color: white;
  padding: 15px;
  font-size: 15px;
}
.commentForm__input:focus {
  outline:none;
}

.commentForm__submit {
  background-color: #242547;
  color: white;
  border: none;
  border-radius: 30px; 
  width: 110px;
  height: 45px;
  font-size: 16px;
  letter-spacing: 2px;
  cursor: pointer;
}

.commentForm__submit:hover {
  background-color: #515494;
  /* color: white;
  border: none;
  border-radius: 10px; 
  width: 100px;
  height: 50px;
  font-size: 18px; */
}

.modal {
  display:flex;
  justify-content: center;
  align-items: center;
  background-color: #0a118a;
  width: 280px;
  height: 70px;
  line-height: 30px;
  /* 최상단 위치 */
  z-index: 90;
  /* 중앙 배치 */
  /* top, bottom, left, right 는 브라우저 기준으로 작동한다. */
  /* translate는 본인의 크기 기준으로 작동한다. */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 20px;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

/* 애니메이션 주면 깜빡거림... */
.modal.show {
  opacity: 1;
  /* animation: fade 1s forwards; */
}

.modal.hide {
  opacity: 0;
  /* animation: fade-out 1s forwards; */
}



 /* MovieInfo 컴퍼넌트 CSS*/
.movieInfo {
  position:relative;
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding: 50px 0;
  margin: 0 50px;
  /* overflow: hidden; */
  /* background-color: pink; */
 /* background-image: url('https://cdn.pixabay.com/photo/2019/02/27/02/22/theater-4023278_1280.jpg');
  background-size: cover;
  filter: blur(20px); */
}
.movieInfo_bg_wrapper {
  position: absolute;
  left: -50px;
  width: 120%;
  height: 120%;
  overflow: hidden;
  filter: blur(5px);
  
}
.movieInfo__bg {
  width: 1400px;
  height: 525px;
  background-size: cover;
  position: absolute;
  opacity: 0.4;
  filter: blur(20px) brightness(0.8);
}

.movieInfo__title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  border-bottom: 1px solid white;
  padding: 0 5px;
  margin-bottom: 10px;
}

.movieInfo__title .title {
  font-size: 32px;
  font-weight: 600;
  margin: 0;
  padding:0;
}


.movieInfo__content {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 80px;
  padding: 0 30px;
  margin-top: 60px;
  z-index:10;
}
.movieInfo__content__poster {
  margin-top: 30px;
}
.movieInfo__img {
  width: 250px;
}

.movieInfo__emoticon {
        display: flex;
    flex-direction: row;
    justify-content: space-around;
  padding-top: 20px;
  font-size: 24px;
}

.icon {
  cursor: pointer;
}

.movieInfo__align {
  display: flex;
  flex-direction: row;
  padding: 0px 5px;
  /* justify-content: space-between; */
  /* align-items: flex-end; */
}

.movieInfo__align > div:first-child  {
  flex-basis: 12.5%; /* 1/8 */
  max-width: 12.5%; /* 1/8 */
}

.movieInfo__align__staff {
  display: flex;
  flex-direction: column;
  padding: 0px 5px;
  /* justify-content: space-between; */
  /* gap: 40px; */
}

.movieInfo__content__detail {
  /* padding: 5px;  */
  z-index:10;
}

.movieInfo__content__detail > div {
  
}

.movieInfo__content__detail > div > h3 {
  /* padding: 5px 0px; */
}

.movieInfo__content__detail > div > div {
  padding: 15px 0px 15px 5px;
}

.movieInfo__content__staff, .movieInfo__content__genres {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
  width: 80%;
}

.movieInfo__content__plot {
  display: block;
  padding: 30px 10px 50px 10px;
  margin-top: 40px;
  z-index:10;
  font-size: large;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  /* font-weight: 100; */
}

.movieInfo__content__plot > h3 {
  
  padding-bottom: 10px;
}

.movieInfo__content__plot > div {
  /* padding: 8px; */
  margin-top: 16px;
  word-break: break-all;
  line-height: 25px;
}

.fade-effect {
  opacity: 0;
  animation: fade 1s ease-in-out forwards, fade-out 1s ease-in-out 3s forwards;
}
@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade-out {
  from {
    opacity: 1; 
  }
  to {
    opacity: 0; 
  }
}

section {
  /* border: 2px solid yellow; */
}

section > div {
  /* border: 2px solid pink; */

}

section > div > div {
  /* border: 2px solid green; */
}



.none {
  display:none;
}

.movie__notSearche {
  /* text-align: center; */
  /* font-size: xx-large; */ 
  height: 100vh;
  margin-top: 60px;  
  margin-bottom: 30px; 
  font-size: 20px;
  padding-left: 30px; 
  letter-spacing: 1px;
  color: white;
  gap: 20px;

}

.movie__notSearche-icon {
  color: white;
  margin-right: 20px;
}

.movie__searches {
  display: grid;
  grid-template-columns: repeat(5, 1fr); /* 한 줄에 5개씩 아이템 표시 */
  gap: 20px;
  height: 80vh;
  /* height: 100%; */
  overflow: auto;
  padding: 20px;
  margin-bottom: 100px;
}

/* 웹킷 브라우저용 스크롤바 스타일 */
.movie__searches::-webkit-scrollbar {
  width: 10px;
}

.movie__searches::-webkit-scrollbar-thumb {
  /* background-color: #888;*/
  /* background-color: pink; */
  background-color:  #010226;
  border-radius: 5px;
}

.movie__searches::-webkit-scrollbar-thumb:hover {
  /* background-color: #555; */
  /* 스크롤바 hover 색상 */
}

.movie__search__result {
  margin-top: 60px;  
  margin-bottom: 30px; 
  font-size: 20px;
  padding-left: 30px; 
  letter-spacing: 1px;
}

/* banner styling*/
.banner {
  position: relative;
  width: 100%;
  height: 500px;
  overflow: hidden;
  margin-top: 10px;
  margin-bottom: 50px;
}
.banner__movie {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.banner__movie.active {
  opacity: 1;
  z-index: 1;
}
.banner__image-wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 20px;
  filter: blur(5px);
}

.banner__image {
  position:absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: blur(8px) brightness(0.3);
}

.movie__info {
  display: flex;
  flex-direction: row;
  position: absolute;
  left: 60px;
  bottom: 80px;
  color: white;
  width: 80%;
}
.movie__info-image {
  width: 200px;
  border-radius: 10px;
}

.movie__info-text {
  position: absolute;
  left: 250px;
  bottom: 6%;
  /* gap: 70px;   */
}
.movie__title-container {
  display:flex;
  flex-direction: row;
  gap: 30px;
  align-items: center;
  margin-bottom: 15px;
}
.movie__title {
  font-size: 36px;
}
.movie__title-btn {
  background-color: #515494;
  color: white;
  border: none;
  border-radius: 40px; 
  width: 80px;
  height: 35px;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 1px;
  cursor: pointer;
}

.movie__plot {
  /* display: flex; */
  width: 70%;
  font-size: 14px;
  line-height: 20px;
}

/* 애니메이션 없는게 낫나..? 있는게 낫나..? -> 없는게 나은 듯 */
/* .banner_animation {
  animation: fade 10s ease-in-out infinite;
} */

@keyframes fade {
  0%, 100% {
    opacity: 0;
  }
  20%, 80% {
    opacity: 1;
  }
}

#myPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: center;
  height: 100vh;
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}